.container-fluid {
	margin: 5% 10% 0% 10%;
}

.bodyContainer {
	margin-left: 50px;
	margin-right: 50px;
	color: #333;
	background-color: #fff;
}

.shell {

	width: 100%;
	padding-top: 47px;
}

#storyBody {

	font-family: georgia, "times new roman", times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 23px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#chartTitle {

	font-size: 32px;

	line-height: 40px;
	line-height: 2.5 rem;
	font-weight: 300;
	color: rgb(51, 51, 51);
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
	margin: 8px 0 5px 0;
	 
}

.chartArea {

	width: 1000px;
	height: 700px;
	margin-top: 0px;
	z-index: 1;
}

#titleLineBreak {
	height: 1px;
	background: #D3D3D3;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 8px;
}
#dateLine {
	float: left;
	display: block;
	font-size: 11px;
	font-size: 0.6875 rem;
	line-height: 21px;
	line-height: 1.3125 rem;
	font-weight: 500;
	font-family: arial, helvetica, sans-serif;
	color: black;
	  margin-bottom: 15px;
}
#chartSource {
	float: left;
	display: block;
	color: rgb(153, 153, 153);
	display: block;
	font-family: arial;
	font-size: 12px;
	font-weight: 300;
	height: 14px;
	line-height: 14px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	width: 100%;
}

#pullquote, #pq-picquote-dialog {
	background: rgb(0, 0, 0);
	box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 4px;
	display: none;
	left: 0px;
	padding: 5px;
	position: absolute;
	top: 0px;
	z-index: 654321;
	white-space: nowrap;
}

#pullquote, #pullquote *, #pq-help, #pq-notification, #pq-overlay, #pq-overlay *, #pq-overlay-quote *, #pq-comment *, #pq-picquote-icon, #pq-picquote-overlay, #pq-picquote-board, #pq-picquote-board *, #pq-picquote-dialog, #pq-picquote-dialog * {
	border: 0px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	margin: 0px;
	padding: 0px;
	outline: 0px;
	display: inline-block;
	height: auto;
	width: auto;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 16px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, 'Arial CE', Arial, serif;
	text-indent: 0px;
	vertical-align: baseline;
	text-align: left;
	background: transparent;
	-webkit-font-smoothing: antialiased;
}

#upShotNamePlate {
	display: inline-block;
	height: 52px;
	width: 315px;
	text-indent: -9999px;
	margin: 20px 0 20px;
	background: url("http://graphics8.nytimes.com/packages/images/nytint/projects/upshot/logo_sf.png") no-repeat;
	background-size: contain;
}
#storyLinkContainer {
  font-size: 14px;
  line-height: 0.75rem;
  font-weight: 300;
  font-family: arial;
  color: #000;
  line-height: 14px;
}

#storyLinkBreak {
  border-top: dotted 1px gray;
  margin-bottom: 5px;
}
#storyLinkIndividual {
  font-size: 12px;
  line-height: 0.75rem;
  font-weight: 300;
  font-family: georgia, 'times new roman', times, serif;
  color: #000;
  line-height: 14px;
  margin-bottom: 15px;
}
#socialLinks {
	margin-bottom: 15px;
	margin-top: 15px;
}
#deck {
	color: black;
	font-family: arial;
	font-size: 17px;
	font-size: 1.6 rem;
	  letter-spacing: -1.2px;
	line-height: 18px;
	line-height: 1.125 rem;
	font-weight: 300;

	margin-bottom: 10px margin-left : 0px;
	margin-right: 7px;
	margin-top: 0px;
}

#mastheadLineBreak {
	height: 1px;
	background: #000000;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
}

.withminor {
	position: absolute;
	width: 180px;
	height: 150px;
	z-index: 500;
	left: 158px;
	background: #FAFAFA;
	top: 500px;
	font-family: trebuchet,helvetica,sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -1.2px;
}

.withoutminor {
	position: absolute;
	width: 150px;
	height: 150px;
	z-index: 500;
	left: 455px;
	background: #FAFAFA;
	top: 500px;
	font-family: trebuchet,helvetica,sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -1.2px;
}
.singleadult {
	position: absolute;
	width: 150px;
	height: 150px;
	z-index: 500;
	left: 725px;
	background: #FAFAFA;
	top: 500px;
	font-family: trebuchet,helvetica,sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -1.2px;
}


.vaxislabel {
	position:absolute;

	width: 90px;
	height: 30px;
	z-index: 500;
	right: 850px;
	background: none;
	top: 75px;
	
	text-align: center;
	font-family: trebuchet,helvetica,sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: -1.2px;
}


#chartSubTitle {
  color: rgb(0, 0, 0);
  font-family: arial;
  font-size: 20px;
    letter-spacing: normal;
  font-weight: bold;
 
  line-height: 17px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
