html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

#upShotNamePlate {
	float: left;
	display: block;
	margin-bottom: 0px;
	margin-left: 17px;
	margin-right: 0px;
	margin-top: 30px;
	width: 100%;
}

#mastheadLineBreak{
	display: block;
	float: left;
    height: 1px;
    background: #000000;
    margin-bottom: 0px;
	margin-left: 18px;
	margin-right: 0px;
	margin-top: 23px;
	width:97%;	
}

.margin-left{
	width: 57%;
	margin: 0 auto;
}

#mainTitle {
	float: left;
	display: block;
	color: rgb(51, 51, 51);
	font-family: arial;
	font-style: normal;
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 300;
	margin-top: 45px;
}

#byline {
	float: left;
	display: block;
 	font-size: 0.6875rem;
  	line-height: 0.75rem;
 	font-weight: bold;
 	font-family: arial;
  	color: #000;
  	line-height: 14px;
    padding-right: 10px;
	margin-bottom: 15px;
  	margin-top: 5px;
}

#dateLine {
	float: left;
	display: block;
 	font-size: 0.6875rem;
  	line-height: 0.75rem;
 	font-weight: 300;
 	font-family: arial;
  	color: #000;
  	line-height: 14px;
  	margin-top: 5px;
	
}
.bodyCopy {
	float: left;
	display: block;
	color: rgb(51, 51, 51);
	font-family: georgia, 'times new roman', times, serif;
	font-style: normal;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 10px;
}
.menu {
	float: left;
	display: inline;
	
}

